global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'spring-actuator'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['api-service:8080', 'job-scheduler-execution-service-1:8080', 'job-scheduler-execution-service-2:8080']
